.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
.container{
    text-align: center;
}
#click{
    margin: 10px;
    padding: 10px;
    background-color: crimson;

}
#second{
    text-align: center;

    font-size: 80px;
    color: antiquewhite;
    border: 20px solid white;
}